<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register Form</title>
</head>
<body>
	<h2>Logueate</h2>
	<%- include('../partials/navbar'); %>
	<form action="/users/login" method="POST">
		<div>
			<label>Email:</label>
			<input type="email" name="user_email">
		</div>
		<div>
			<label>Contraseña:</label>
			<input type="password" name="user_password">
		</div>
		<button type="submit">Iniciar sesion</button>
		<br>
		<label>
			<input type="checkbox" name="remember">
			Recordarme
		</label>
	</form>
</body>
</html>